html * {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  outline-color: blueviolet;
  outline-width: 1px;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

// Type
.text-center {
  text-align: center;
}

// Boxes
.cover {
  width: 100%;
  height: 100%;
}

.card-border-container {
  padding: 0 .3rem;
}

.card {
  padding: 0.5rem;
  position: relative;
  &.border {
    border: 1px solid #efefef;
    border-radius: $border-radius;
    padding: 0;
  }
}

.card-media {
  overflow: hidden;
  position: relative;
  &:before {
    margin-top: 60%;
    display: block;
    content: ''
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.card-media .card-media-attribution {
  position: absolute;
  right: 5px;
  bottom: 5px;
  > * {
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #efefef;
  }
}
.card-media .card-media-bg-image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 125%;
  height: 125%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.card-content {
  @include box(0.5rem);
  .title {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .sub-title {
    width: 100%;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// Flex layout

#list {
  // TODO: fix all this
  overflow-y: auto;
}

main#app, .view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

$flex-columns: 12;

.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.wrap {
    flex-wrap: wrap;
  }
  &.start {
    align-items: flex-start;
  }
  &.stretch {
    align-items: stretch;
    overflow: hidden;
    > .f-item-6 {
      overflow-y: auto;
    }
  }
  &.between {
    justify-content: space-between;
  }
  &.collapse-sides {
    > [class*="f-item"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

[class*="f-item"]:not(.collapse) {@include box()}
[class*="f-item"] {
  min-height: 0px;
  flex-grow: 0;
  &.center {
    margin: 0 auto;
  }
  &.grow {
    flex-grow: 1
  }
}

.f-row.f-item {
  padding: 0;
}

@for $i from 1 through $flex-columns {
  .f-item-#{$i} {
    width: $i / $flex-columns * 100%;
  }

}

button {
  background: #333;
  color: #efefef;
  @include input-base();
}


// Lists
ul li {
  list-style: none;
  padding: 1rem;
  transform: background-color .25s;
  &:hover {
    background: #f1f1f1;
  }
}

ul.lined {
  border: $border;
}

ul.lined li {
  padding-bottom: 0rem;
  > :first-child {
    padding-bottom: 1rem;
    border-bottom: $border;
  }
  &:last-child > :first-child {
    border-bottom: 0;
  }
}

// Util.
.hide {
  display: none;
}

.border-bottom {
  border-bottom: $border;
}

#main-map {
  background: pink;
}
